body {
  background-color: lightsteelblue;
  font-size: 20px;
  font-family: "Comic Sans MS";
}

p {
  line-height: 30%;
}

canvas {
  display: block;
  padding-left: 70px;
  padding-right: 70px;
  margin-right: 30px;
}

.header {
  color: purple;
  font-size: 35px;
  text-align: center;
  top: 0;
  background: papayawhip;
  padding: 3px;
  padding-top: 1px;
  border-radius: 20px; /* Уголки */
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  background: papayawhip;
  padding-top: 10px;
  border-radius: 20px; /* Уголки */
  width: 100%;
}

.button {
  background-color: papayawhip;
  border-color: #800080;
  border-radius: 5px;
  height: 25px;
  width: 25px;
}


.checkButtonInside {
  background-color: papayawhip;
  border-color: #800080;
  border-radius: 5px;
  width: 130px;
  height: 28px;
  font-family: "Comic Sans MS";
  font-size: 15px;
}

.link {
  text-align: center;
}

.linkToPrevious {
  position: absolute;
}

a#move {
  margin-top: 40px;
  font-size: 25px;
}

a#github {
  text-decoration: none;
  color: rgba(63, 63, 63, 0.98);
  font-size: 32px;
}


label {
  padding-bottom: 10px;
  margin-left: 7px;
}

.centerBorder {
  background: white; /* Цвет фона */
  color: black; /* Цвет текста */
  padding-left: 70px; /* Поля вокруг текста */
  padding-right: 70px;
  padding-top: 50px;
  padding-bottom: 70px;
  border-radius: 20px; /* Уголки */
  margin: auto;
  margin-top: 30px;
  width: 700px;
  height: 310px;
  opacity: 0.77;
  overflow: scroll;
}

.ff , .time-and-link{
  display: flex;
}

.commonGroup > .XR > * {
  background: rgba(159, 19, 255, 0.37);
  color: black;
  border-radius: 15px;
  opacity: 1;
}

.commonGroup > .fillItPls, .enterY {
  background: rgba(159, 19, 255, 0.37);
  color: black;
  border-radius: 15px;
  opacity: 1;
}

.commonGroup > .XR > .chooseR {
  padding: 10px;
  width: 140px;
  text-align: center;
}

.chooseRTitle {
  margin-bottom: 10px;
}

.commonGroup > .XR > .selectX {
  margin-left: 30px;
  width: 130px;
  height: 26px;
  padding: 10px 13px 45px 18px;
}

.ui-fluid {
  width: 120px;
}

.ui-spinner-input {
  background-color: papayawhip;
  border-color: #800080;
  border-radius: 5px;
  border-width: 2px;
  font-family: "Comic Sans MS";
}

.commonGroup > .enterY {
  padding: 15px 20px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 310px;
  height: 27px;
}

input[type=text] {
  line-height: 25px;
  width: 302px;
  font-size: 15px;
  text-align: center;
  background-color: papayawhip;
  border-color: #800080;
  border-radius: 5px;
}


input::placeholder {
  text-align: center;
  font-size: 15px;
  color: black;
  font-family: "Comic Sans MS"

}

.input-error {
  border-color: red !important;
}

.commonGroup > .checkButton {
  background: rgba(159, 19, 255, 0.37);
  color: black;
  border-radius: 15px;
  opacity: 1;
  padding: 7px 18px 12px;
  width: 130px;
  height: 30px;
  align-self: center;
  margin: auto;
}


.button input {
  width: 130px;
  height: 28px;

}


.commonGroup {
  margin-right: 55px;
}

.XR {
  display: flex;
}

.fillItPls {
  margin-bottom: 15px;
  padding: 5px;
  text-align: center;
}

.svg {
  margin-bottom: 20px;
}

.axis-text {
  font-size: 15px;
  font-weight: bold;
}

select {
  text-align-last: center;
}

.error {
  border-color: red;
}

.hiddenR-error ~ input[type=submit] {
  border-width: 2.5px;
  border-color: red !important;
}

table {
  margin-top: 40px;
  background: rgba(159, 19, 255, 0.37);
  color: black;
  width: 100%; /* Ширина таблицы */
  border-spacing: 1px; /* Расстояние между ячейками */
  text-align: center;
  overflow: scroll;
}

td, th, tr {
  width: 20%;
  text-align: center;
  font-size: 20px;
}

/*.rectangle-figure:hover, .triangle-figure:hover, .circle-figure:hover {*/
/*	fill: red;*/
/*}*/

.frame {
  opacity: 0;
}

p#negodiay {
  color: red;
  align-content: center;
}

circle#target-dot {
  color: red;
}


.centerBorderT {
  background: white; /* Цвет фона */
  color: black; /* Цвет текста */
  padding-left: 70px; /* Поля вокруг текста */
  padding-right: 70px;
  padding-bottom: 70px;
  border-radius: 20px; /* Уголки */
  margin: auto;
  margin-top: 75px;
  width: 700px;
  height: 360px;
  opacity: 0.77;
  overflow: scroll;
}

