body {
    background-color: lightsteelblue;
    font-size: 20px;
    font-family: "Comic Sans MS";
}

p {
    line-height: 30%;
}

canvas {
    display: block;
    padding-left: 70px;
    padding-right: 70px;
    margin-right: 30px;
}


@media (min-width: 708px) {

    .header {
        color: purple;
        font-size: 35px;
        text-align: center;
        top: 0;
        margin-bottom: 10%;
        background: papayawhip;
        padding: 3px;
        padding-top: 1px;
        border-radius: 20px; /* Уголки */
        /*min-width: 708px;*/
        /*max-width: 1169px;*/
        position: page;
        width: 100%;
    }

    .centerBorderMain {
        background: white; /* Цвет фона */
        color: black; /* Цвет текста */
        /* Поля вокруг текста */
        padding: 40px 30px 30px;
        border-radius: 20px; /* Уголки */
        margin: auto;
        min-width: 650px;
        width: 70%;
        height: 340px;
        opacity: 0.77;
        overflow: scroll;
    }

    .formAndGraphic {
        margin: auto;
        display: flex;
    }

    .commonGroup {
        display: block;
        width: 55%;
        margin-top: 5px;
        margin-right: 3%;
    }

    .commonGroup > .fillItPls, .inputArea {
        background: rgba(159, 19, 255, 0.37);
        color: black;
        border-radius: 15px;
        opacity: 1;
        width: 100%;
    }

    .fillItPls {
        margin-bottom: 15px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }


    .commonGroup > .XR > .chooseR, .selectX {
        width: 50%;
        height: 45px;
        text-align: center;
        padding: 10px 10px 45px 10px;
    }


    .commonGroup > .XR > .selectX {
        margin-left: 10%;
    }


    .commonGroup > .enterY {
        background: rgba(159, 19, 255, 0.37);
        color: black;
        border-radius: 15px;
        opacity: 1;
        padding: 0 7px 43px;
        margin-top: 10px;
        margin-bottom: 0;
        width: 97%;
        height: 30px;
    }

    #inp {
        font-size: medium;
        height: 35px;
        width: 90%;
        border-color: #800080;
        border-radius: 5px;
        border-width: medium;
    }


    table {
        margin-top: 60px;
        background: rgba(159, 19, 255, 0.37);
        color: black;
        width: 100%; /* Ширина таблицы */
        border-spacing: 1px; /* Расстояние между ячейками */
        text-align: center;
        overflow: scroll;
    }


    .formErrors {
        color: red;
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    .centerBorderStart {
        background: white; /* Цвет фона */
        color: black; /* Цвет текста */
        padding-bottom: 40px;
        border-radius: 20px; /* Уголки */
        margin: 70px auto auto;
        padding-top: 30px;
        width: 520px;
        height: 310px;
        opacity: 0.77;
    }

    .formErrorsAuth {
        color: red;
        font-size: 15px;
        text-align: center;
        position: fixed;
        width: inherit;
    }

    .formErrors {
        color: red;
        font-size: 15px;
        text-align: center;
        margin-bottom: 5px;
    }

}


@media (max-width: 707px) {

    .header {
        color: purple;
        font-size: 35px;
        text-align: center;
        top: 0;
        margin-bottom: 7%;
        background: papayawhip;
        padding: 1px 3px 3px;
        min-width: 402px;
        border-radius: 20px; /* Уголки */
        position: page;
        width: 100%;
    }

    .centerBorderMain {
        display: block;
        background: white; /* Цвет фона */
        color: black; /* Цвет текста */
        /* Поля вокруг текста */
        padding: 40px 30px 30px;
        border-radius: 20px; /* Уголки */
        margin: auto;
        align-self: center;
        max-width: 370px;
        min-width: 340px;
        width: 75%;
        height: 300px;
        opacity: 0.77;
        overflow: scroll;
    }

    .centerBorderStart {
        background: white; /* Цвет фона */
        color: black; /* Цвет текста */
        padding-bottom: 40px;
        border-radius: 20px; /* Уголки */
        margin: auto;
        padding-top: 30px;
        min-width: 390px;
        width: 75%;
        height: 380px;
        opacity: 0.77;
    }

    .formAndGraphic {
        margin: auto;
        /*display: flex;*/
    }

    .commonGroup {
        display: block;
        width: 100%;
        margin-top: 5px;
    }

    .commonGroup > .fillItPls, .inputArea {
        background: rgba(159, 19, 255, 0.37);
        color: black;
        border-radius: 15px;
        opacity: 1;
        width: 100%;
    }

    .fillItPls {
        margin-bottom: 15px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }


    .commonGroup > .XR > .chooseR, .selectX {
        width: 50%;
        height: 45px;
        text-align: center;
        padding: 10px 10px 45px 10px;
    }


    .commonGroup > .XR > .selectX {
        margin-left: 10%;
    }


    .commonGroup > .enterY {
        background: rgba(159, 19, 255, 0.37);
        color: black;
        border-radius: 15px;
        opacity: 1;
        padding: 0 7px 43px;
        margin-top: 10px;
        margin-bottom: 0;
        width: 97%;
        height: 30px;
    }

    #inp {
        font-size: medium;
        height: 35px;
        width: 90%;
        border-color: #800080;
        border-radius: 5px;
        border-width: medium;
    }




    table {
        margin-top: 60px;
        background: rgba(159, 19, 255, 0.37);
        color: black;
        width: 100%; /* Ширина таблицы */
        border-spacing: 1px; /* Расстояние между ячейками */
        text-align: center;
        overflow: scroll;
    }


    .formErrorsAuth {
        color: red;
        font-size: 15px;
        text-align: center;
        position: absolute;
        width: inherit;
    }

    .formErrors {
        color: red;
        font-size: 15px;
        text-align: center;
        margin-bottom: 5px;
    }


    .svg {
        margin-top: 20px;
    }

    svg#svg {
        display: block;
        margin: auto auto 10px;
    }


    .buttons {
        position: relative !important;
        display: block  !important;
    }

    .buttonArea {
        width: 70% !important;
        height: 35px !important;
        margin: auto !important;
        margin-bottom: 10px !important;
    }

    .checkButtonInside {
        background-color: papayawhip;
        border-color: #800080;
        border-radius: 5px;
        width: 100% !important;
        height: 35px !important;
    }

}


@media (min-width: 1169px) {

    .header {
        color: purple;
        font-size: 35px;
        text-align: center;
        top: 0;
        margin-bottom: 7%;
        background: papayawhip;
        padding: 1px 3px 3px;
        border-radius: 20px; /* Уголки */
        /*min-width: 708px;*/
        /*max-width: 1169px;*/
        position: page;
        width: 100%;
    }

    .centerBorderMain {
        background: white; /* Цвет фона */
        color: black; /* Цвет текста */
        /* Поля вокруг текста */
        padding: 40px 30px 30px;
        border-radius: 20px; /* Уголки */
        margin: auto;
        max-width: 850px;
        width: 70%;
        height: 340px;
        opacity: 0.77;
        overflow: scroll;
    }

}

.footer {
    position: fixed;
    bottom: 0;
    background: papayawhip;
    padding-top: 10px;
    border-radius: 20px; /* Уголки */
    width: 100%;
}


.checkButtonInside {
    background-color: papayawhip;
    border-color: #800080;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    font-family: "Comic Sans MS";
    font-size: 15px;
}

.commonGroup > .checkButton {
    background: rgba(159, 19, 255, 0.37);
    color: black;
    border-radius: 15px;
    opacity: 1;
    padding: 10px 18px 12px;
    width: 130px;
    height: 30px;
    margin: 20px auto auto;
}

.link {
    text-align: center;
}

.linkToPrevious {
    position: absolute;
}


a#github {
    text-decoration: none;
    color: rgba(63, 63, 63, 0.98);
    font-size: 32px;
}

label#title {
    margin-top: 5px;
}


.svgErrorText {
    text-align: center;
}

.svgErrors {
    color: red;
}

.commonGroup > .XR > * {
    background: rgba(159, 19, 255, 0.37);
    color: black;
    border-radius: 15px;
    opacity: 1;
}


.dropdown {
    font-size: medium;
    border-color: #800080;
}

.inputArea, .commonGroup > .inputArea {
    padding: 15px 20px 25px;
    margin-top: 15px;
    margin-bottom: 0px;
    width: 310px;
    height: 27px;
}

input[type=text], input[type=password] {
    line-height: 25px;
    width: 300px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: papayawhip;
    border-color: #800080;
    border-radius: 5px;
    margin: auto;
}


input::placeholder {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #575757;
    font-family: "Comic Sans MS"

}


.buttons {
    position: absolute;
    margin-top: 50px;
    display: flex;
}

.title {
    display: block;
    text-align: center;
    line-height: 90%;
    font-size: 32px;

}

.smallTitle {
    font-size: 15px;
    color: rgba(63, 63, 63, 0.98);
}

.form {
    margin: auto;
    display: block;
    /*margin-top: 80px;*/
    /*padding: 7px 18px 12px;*/
    width: 348px;
    height: 27px;
}

.buttonArea {
    background: rgba(159, 19, 255, 0.37);
    color: black;
    border-radius: 15px;
    opacity: 1;
    padding: 7px 18px 12px;
    width: 130px;
    height: 30px;
    align-self: center;
    margin: auto;
    margin-right: 15px;
}

.XR {
    display: flex;

}

.axis-text {
    font-size: 15px;
    font-weight: bold;
}

td, th, tr {
    width: 20%;
    text-align: center;
    font-size: 20px;
}


.frame {
    opacity: 0;
}

p#negodiay {
    color: red;
    align-content: center;
}

circle#target-dot {
    color: red;
}


